<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Shubham Portfolio Template">
        <meta name="keywords" content="Shubham Patel, Shubham, 6475623939, Personal , Personal portfolio template, Personal portfolio, landing page, material design, portfolio, personal">
        <meta name="author" content="shubham.patel">
		
        <title>Shubham Patel || Portfolio</title>
		
		<!-- favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico.png">
		
		<!-- style css -->
		<link rel="stylesheet" href="style.css">
		<!-- modernizr js -->
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
		
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
		
		<!-- Loading Bar Start -->
		<div id="loading" class="dark-version">
			<div id="loading-center">
				<div id="loading-center-absolute">
					<img src="assets/img/dark-logo.png" alt="Shubham Patel" />
					<div class="object" id="object_three"></div>
				</div>
			</div>
		</div>
		<!-- Loading Bar End -->
		<div id="home"></div>
		
		<!-- Header Section Start -->
		<header class="header-style-1 dark-version dark-bg">
			<div class="top clearfix">
				<div class="header-top active-sticky ptb-50">
					<div class="container">
						<div class="row">
							<div class="col-xs-6 col-sm-5">
								<div class="left">
									<div class="logo">
										<!-- <a href="index.html"><img src="assets/img/dark-logo.png" alt="Mim" /></a> -->
										<h1 class="hidelogo">Shubham Patel</h1>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-sm-7">
								<div class="right">
									<div class="expand-menu-open floatright"><i class="zmdi zmdi-menu"></i></div>
									<nav class="mainmenu onepage-nev floatright">
										<ul class="clearfix">
											<li><a href="#home">Home</a></li>
											<li><a href="#service">Services</a></li>
											<li><a href="#about">About</a></li>
											<li><a href="#portfolio">PORTFOLIO</a></li>
											<li><a href="#contact">Contact</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mainmenu-expand bg-color-3">
					<div class="close-menu">
						<i class="zmdi zmdi-close-circle-o"></i>
					</div>
					<div class="menu-logo"><a href="index.html"><img src="assets/img/dark-logo.png" alt="Shubham Patel" /></a></div>
					<nav class="mainmenu-box onepage-nev">
						<ul class="clearfix">
							<li><a href="#home">Home</a></li>
							<li><a href="#service">Services</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#portfolio">PORTFOLIO</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="bottom slider-area">
				<div class="container">
					<div class="row relative">
						<div class="col-xs-12 col-sm-6 static">
							<div class="slider-text percent-50">
								<h5 class="mb-11">Hello, my name is</h5>
								<h1 class="mb-30 white-color">Shubham Patel</h1>
								<p class="font-16 line-height-28">
									I am an experienced Web Developer with over 4 years of expertise in building dynamic, user-friendly applications using ReactJS, VueJS, WordPress, and PHP. With a background in Web and Mobile App Development, I focus on creating high-performance, responsive web solutions. <br/>Passionate about staying updated with industry trends, I am committed to delivering quality results and continuously evolving as a developer. I thrive in collaborative environments and am eager to contribute my skills to innovative projects.
								</p>
								<div class="slider-button smooth-scroll mt-40">
									<a class="btn lg-btn" href="#portfolio">my work</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="slider-img text-right">
								<img src="assets/img/slider/profile.png" alt="Image Layer" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header Section End -->
		<!-- Service Section Start -->
		<section class="service-area bg-color-3 dark-version section-padding" id="service">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title text-center mb-60">
							<h2 class="mb-20 white-color">My Services</h2>
							<div class="horizontal-line">
								<div class="top"></div>
								<div class="bottom"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="mobile-mb-30 col-xs-12 col-sm-3 col-md-3">
						<div class="single-service pt-50 pb-60 plr-20">
							<i class="zmdi zmdi-favorite-outline"></i>
							<h5 class="montserrat weight-medium no-margin">WEB DESIGNING</h5>
							<hr class="mtb-15" />
							<p>Converting a Photoshop Document(PSD) or any document into webpage using different programming languages.</p>
						</div>
					</div>
					<div class="mobile-mb-30 col-xs-12 col-sm-3 col-md-3">
						<div class="single-service pt-50 pb-60 plr-20">
							<i class="zmdi zmdi-smartphone-iphone"></i>
							<h5 class="montserrat weight-medium no-margin">MOBILE APP DEVELOPMENT</h5>
							<hr class="mtb-15" />
							<p>Building complex mobile applications in platforms such as Android and IOS and working on CRUD operations.</p>
						</div>
					</div>
					<div class="mobile-mb-30 col-xs-12 col-sm-3 col-md-3">
						<div class="single-service pt-50 pb-60 plr-20">
							<i class="zmdi zmdi-filter-center-focus"></i>
							<h5 class="montserrat weight-medium no-margin">RESPONSIVE DESIGN</h5>
							<hr class="mtb-15" />
							<p>A website that should respond to the user’s behavior and environment based on screen size, platform and orientation. </p>
						</div>
					</div>
					<div class="mobile-mb-30 col-xs-12 col-sm-3 col-md-3">
						<div class="single-service pt-50 pb-60 plr-20">
							<i class="zmdi zmdi-language-html5"></i>
							<h5 class="montserrat weight-medium no-margin">WEB DEVELOMENT</h5>
							<hr class="mtb-15" />
							<p>A Developer responsible for building a product that meets both the client’s needs and those of the customer or end user.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Service Section End -->
		<!-- About Section Start -->
		<section class="about-area dark-version section-padding dark-bg" id="about">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title text-center mb-60">
							<h2 class="mb-20 white-color">About Me</h2>
							<div class="horizontal-line">
								<div class="top"></div>
								<div class="bottom"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-5">
						<div class="left mr-40">
							<h3 class="font-22 capitalize">Howdy!</h3>
							<p class="font-16 line-height-28">I am a Web Developer seeking a full-time position, where I can utilize my skills and knowledge for continuous improvement. I have great experience in Web Development where I design web pages, fix them, developed strategies that drive products to success. I have also worked in Software Asset Management as a Analyst where I had done audits for companies such as Microsoft, Adobe, Autodesk, and Siemens.</p>
							<div class="about-button mt-30">
								<a class="btn" href="/assets/Shubham-Resume-Final.pdf" target="_blank" type="application/octet-stream" download="Shubham-Resume-Final.pdf">Download my cv</a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-7 spacing-50" id="skills">
						<div class="" v-for="value in skills" >
							<!-- CLASS=right skill-progress -->
							<div class="col-xs-4 col-sm-3  col-md-3 skills-icons">
                                <img v-bind:src="value.url" alt="Image" />
									<span class="progress-title">{{ value.name }}</span><br>
                            </div>

                        </div>
                        
					</div>
				</div>
			</div>
		</section>
		<!-- About Section End -->
		<!-- Experience Section Start -->
		<section class="experience-area dark-version section-padding bg-color-3 dark-bg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title text-center mb-60">
							<h2 class="mb-20 white-color">My Experience</h2>
							<div class="horizontal-line">
								<div class="top"></div>
								<div class="bottom"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" id="experience">
					<div class="col-xs-12 col-sm-6 mobile-mb-30">
						<div class="left" v-for="value in experience.slice(0,2)">
							<div class="single-experi mb-50">
								<div class="left-text floatleft relative">
									<div class="dashed-line"></div>
									<h4 class="montserrat weight-medium mb-5 capitalize wordbreak light-color">{{ value.company }}</h4>
									<p class="montserrat weight-medium">{{ value.year }}</p>
								</div>
								<div class="right-text">
									<i class="zmdi zmdi-check-circle"></i>
									<h3 class="capitalize font-20 light-color">{{ value.role }}</h3>
									<p>{{ value.desc }}</p>
								</div>
							</div>
							
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="right" v-for="value in experience.slice(2,4)">
							<div class="single-experi mb-50">
								<div class="left-text floatleft relative">
									<div class="dashed-line"></div>
									<h4 style="word-break: break-all" class="montserrat weight-medium mb-5 capitalize light-color">{{ value.company }}</h4>
									<p class="montserrat weight-medium">{{ value.year }}</p>
								</div>
								<div class="right-text">
									<i class="zmdi zmdi-check-circle"></i>
									<h3 class="capitalize font-20 light-color">{{ value.role }}</h3>
									<p>{{ value.desc }} </p>
								</div>
							</div>
							<!-- <div class="single-experi">
								<div class="left-text floatleft">
									<h4 class="montserrat weight-medium mb-5 capitalize">Themeforest</h4>
									<p class="montserrat weight-medium">2007-2008</p>
								</div>
								<div class="right-text">
									<i class="zmdi zmdi-check-circle"></i>
									<h3 class="capitalize font-20">Programmer & Developer</h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Experience Section End -->
		<!-- Education Section Start -->
		<section class="service-area dark-bg dark-version section-padding ">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title text-center mb-60">
							<h2 class="mb-20 white-color">Education</h2>
							<div class="horizontal-line">
								<div class="top"></div>
								<div class="bottom"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row text-center" id="education">
					<div v-for="value in education">
					<div class="mobile-mb-30 col-xs-12 col-sm-6 col-md-4">
						<div class="single-service pt-50 pb-60 plr-20">
							<i class="zmdi zmdi-graduation-cap"></i>
							<h5 class="montserrat weight-medium no-margin">{{ value.course }}</h5>
							<hr class="mtb-15" />
							<p>{{value.school}}</p>
						</div>
					</div>
					</div>
					<!-- <div class="mobile-mb-30 col-xs-12 col-sm-6 col-md-4">
						<div class="single-service pt-50 pb-60 plr-20">
							<i class="zmdi zmdi-filter-center-focus"></i>
							<h5 class="montserrat weight-medium no-margin">Responsive Design</h5>
							<hr class="mtb-15" />
							<p>A website that should respond to the user’s behavior and environment based on screen size, platform and orientation. </p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="single-service pt-50 pb-60 plr-20">
							<i class="zmdi zmdi-language-html5"></i>
							<h5 class="montserrat weight-medium no-margin">development</h5>
							<hr class="mtb-15" />
							<p>Gathering a few of the essential data will offer assistance drive the revelation handle, so ready to construct you an ideal arrangement that serves your needs and is in your budget. </p>
						</div>
					</div> -->
				</div>
			</div>
		</section>
		<!-- Education Section End -->
		
		<!-- Portfolio Section Start -->
		<section class="portfolio-area portfolio-one dark-bg section-padding clearfix" id="portfolio">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title text-center mb-30">
							<h2 class="mb-20 white-color">My Portfolio</h2>
							<div class="horizontal-line">
								<div class="top"></div>
								<div class="bottom"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="all-portfolio">
							<div class="portfolio-menu text-center">
								<ul class="clearfix mb-50">
									<li data-filter="*" class="active">All</li>
									<li data-filter=".projects" >Projects</li>
									<li data-filter=".certications">Certifications</li>
								</ul>
							</div>
						</div>
						<div class="portfolio-grid">
							 <div id="projects">
							<div class="grid-item projects percent-33" v-for="value in projects">
								<div class="single-portfolio overlay light-1 text-center">
									<img v-bind:src="value.img" alt="Image" />
									<div class="zoom-icon">
										<!-- <a href="contact-form.php">contact page</a> -->
										<a v-bind:href="value.img" class="fancybox fancybox-outer" v-bind:title="value.desc">
											<i class="zmdi zmdi-filter-center-focus"></i>
											
										</a>
									</div>

									<div class="project-title text-left">
										<h4 class="font-20 montserrat weight-bold capitalize no-margin">{{ value.project }}</h4>
										<!-- <p>{{value.img}}</p> -->
										<a v-bind:href="value.url" target="_blank" class="blackcolor">{{value.tagline}}</a>

									</div>

								</div>
							</div>
							</div>
							
							<!-- CERTIFICATIONS -->
							<div id="certifications">
							<div class="grid-item certications percent-33" v-for="value in certifications">
								<div class="single-portfolio overlay light-1 text-center">
									<img v-bind:src="value.img" alt="certifications" />
									<div class="title plr-40 text-center">
										<div class="zoom-icon">
											<a v-bind:href="value.img" class="fancybox">
												<i class="zmdi zmdi-filter-center-focus"></i>
											</a>
										</div>
										<div class="project-title text-left">
											<h4 class="font-20 montserrat weight-regular capitalize no-margin">{{ value.course }}</h4>
											<p class="montserratlight">{{ value.src }}</p>
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Portfolio Section End -->
		
		<!-- Contact Section Start -->
		<section class="contact-area  dark-version bg-color-3 section-padding" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="left">
							<div class="section-title mb-30">
								<h2 class="mb-15 white-color">GET IN TOUCH</h2>
								<div class="horizontal-line mb-20">
									<div class="top"></div>
									<div class="bottom"></div>
								</div>
								<!-- <p>There are many variations of pssges of Lorem Ipsum available, bu in some form, by</p> -->
							</div>
							<ul class="contact-text clearfix">
								<li>
									<i class="zmdi zmdi-phone-in-talk"></i>
									<h4 class="montserrat weight-regular no-margin capitalize">Phone</h4>
									<span><a id="contact" class="montserrat weight-regular" href="">{{ contact }}</a></span>
								</li>
								<li>
									<i class="zmdi zmdi-email"></i>
									<h4 class="montserrat weight-regular no-margin capitalize">Email</h4>
									<span><a id="email" class="montserrat weight-regular" href="mailto:{{ email }}">{{ email }}</a></span>
								</li>
								<li>
									<i class="zmdi zmdi-home"></i>
									<h4 class="montserrat weight-regular capitalize no-margin">Our Location</h4>
									<span id="location" class="montserrat weight-regular capitalize">{{ location }}</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-8">
						<div class="right">
							<div class="contact-form pt-40">
								<form class="custom-input contact_form" id="contact_form" action="contact-form.php" method="post">
									<div class="row name-email">
										<div class="col-xs-12 col-sm-6">
											<input type="text" required id="contact_name" name="name" placeholder="Your Name" />
										</div>
										<div class="col-xs-12 col-sm-6">
											<input type="email" required id="contact_email" name="email" placeholder="Your Email" />
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<textarea class="mt-50" name="message" style="resize: none;" id="contact_message" rows="6" placeholder="Your Message"></textarea>
											<button class="btn montserrat weight-regular uppercase mt-30" type="submit" name="submit" id="contact_submit" data-complete-text="Well done!">
												Send Message
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Contact Section End -->
		<!-- Footer Section Start -->
		<footer class="footer dark-version dark-bg ptb-20">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="left floatleft">
							<!-- <p>Copyright &copy; 2020 <a href="https://themeforest.net/user/regaltheme" target="_blank">Regaltheme</a>.</p> -->
							<p>Developed by Shubham Patel</p>
						</div>
						<div class="right social-link floatright">
							<ul class="clearfix">
								<li><a href="https://github.com/shubhamgpatel" target="_blank">Github</a></li>
								<li><a href="https://www.linkedin.com/in/shubhampatel96/" target="_blank">Linkedin</a></li>
								<li><a href="mailto:shubhampatel.contact@gmail.com" target="_blank">Email</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer Section End -->
		
		<!-- All JS Here -->
		<!-- jQuery Latest Version -->
        <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
		<!-- Bootstrap JS -->
        <script src="assets/js/bootstrap.min.js"></script>
		<!-- One Page Nav JS -->
        <script src="assets/js/one-page-nav.js"></script>
		<!-- Waypoints JS -->
        <script src="assets/js/waypoints.min.js"></script>
		<!-- Progressbar JS -->
        <!-- <script src="assets/js/progressbar.js"></script> -->
		<!-- Isotope -->
        <script src="assets/js/isotope.pkgd.js"></script>
		<!-- Isotope -->
        <script src="assets/js/jquery.validate.min.js"></script>
		<!-- Slick Slider JS -->
        <script src="assets/js/slick.min.js"></script>
		<!-- Fancybox JS -->
        <script src="assets/js/jquery.fancybox.pack.js"></script>
		<!-- Plugins JS -->
        <script src="assets/js/plugins.js"></script>
		<!-- main JS -->
		<script src="assets/js/main.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script> -->
		<script src="assets/js/script_vue.js"></script>
    </body>
</html>
<!-- {"name" : "Asp.Net", "percent":"65" ,"url":"./assets/img/language/aspnet.png"}  -->
